* {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}
.calc {
width: 600px;
border: solid 10px #555;
border-radius: 10px;
background-color: aqua;
padding: 20px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: 80px;
gap: 20px;
}

.calc_result {

    grid-column: 1 / -1;
    background-color:azure;
    color: rgb(20, 21, 20);
    font-size: 70px;
    padding: 5px;

}

.calc_button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    transition: 0.7s all;
    box-shadow: 2px 3px 2px rgb(0, 0, 0, 0,5);

}
 .calc_button:hover {
    opacity: 0.8;
 }
 .calc_button:active {
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0,5);
 }
 .calc_button_operator {
    background-color:blanchedalmond;

 }
 .calc_button_reset{
    background-color:red;
    

 }
 .calc_button_equal {
    background-color:blueviolet;
    grid-column: 2 / -1;
 }